@page "/developerdetail"
@using TestBlazor.Shared.Models

@inject HttpClient Httpclient


        <h3>DeveloperDetail</h3>

        <PageTitle>Developer Detail</PageTitle>

        <div class="row">
             <div class="col-md-6">
             <a href='/developer/add' class="btn btn-primary" role="button">
                  <i class="fas fa-user-plus"></i>
                  Add Developer
             </a>
        </div>
        </div>
        <br />

        @if (developers == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-striped align-middle table-bordered">
              <thead class="table-success">
                 <tr>
                   <th>ID</th>
                   <th>Username</th>
                   <th>Cell Number</th>
                   <th>Email</th>
                   <th>Action</th>
                </tr>
             </thead>
             <tbody>
                 @foreach (var developer in developers)
                  {
                    <tr>
                     <td>@developer.Id</td>
                     <td>@developer.Username</td>
                     <td>@developer.Cellnumber</td>
                     <td>@developer.Email</td>
                     <td>
                        <a href='/developer/edit/@developer.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/developer/delete/@developer.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                     </td>
                    </tr>
                  }
             </tbody>

        </table>
        }


@code {
         protected List<Developer>? developers = new();

         protected override async Task OnInitializedAsync()
         {
            await GetDevelopers();  
         }

         protected async Task GetDevelopers()
         {

            developers = await Httpclient.GetFromJsonAsync<List<Developer>>("api/developer");
         }
}
